.landing-page {
    grid-area: landing;
    
    width: 100vw;
    height: 100vh;

    background: url(../assets/media/HeaderImage.jpg) no-repeat;
    background-position: 74%;
    background-size: cover;
    background-color: rgba(010, 010, 20, 0.2);
    background-blend-mode: saturation;

    display: grid;
    grid: repeat(12, 1fr) / repeat(12, 1fr);
    grid-template-areas:
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .'
    '. . f f f f f . . . . .'
    '. . . . . . l l l l l .'
    '. . . . . . . . . . . .'
    'b b b b b b b b b b b b'
    'b b b b b b b b b b b b'
    ;
}

.landing-name.first {
    grid-area: f;

    color: rgba(025,025,035, 0.9);
    font-size: 18vw;

    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-end;
    align-items: flex-end;
}

.landing-name.last {
    grid-area: l;

    color: rgba(255, 220, 090, 0.6);
    font-size: 18vw;

    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
}

.landing-foot {
    grid-area: b;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    background-image: linear-gradient(to bottom,
        rgba(025,025,035, 0.0) 20%,
        rgba(025,025,035, 0.9) 90%
    )
}

.landing-byline {
    height: 5%;
    width: 100vw;
    padding: 5%;

    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    
    font-size: 1.3rem;
    color: rgba(025,025,035, 0.9);

    background-color: rgba(255, 220, 090, 0.4);
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}