.landingpage {
    min-width: 100vw;
    min-height: 100vh;
    grid-area: 1/1/2/-1;

    background: url(../assets/media/HeaderImage.jpg) no-repeat center center scroll;
    background-size: cover;

    display: grid;
    grid: repeat(6, 1fr)/repeat(6, 1fr);
}

.name.first {
    color: rgba(028,028,032, 0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.name.last {
    color: rgba(255, 222, 089, 0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }