.projects-page {
    grid-area: projects;

    min-height: 100vh;
    width: 100vw;

    background-color: rgba(025,025,030, 1.0);
    color: rgba(255, 220, 090, 0.7);

    display: grid;
    grid-template-rows: 10vh 10vh 10vh minmax(70vh, auto);
    grid-template-columns: repeat(12, 1fr);
}

.projects-title {
    grid-column: 2/-1 ;
    grid-row: 1/2;
    height: 16vh;
    padding: 1%;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    
    background-image: radial-gradient(farthest-corner at 30%,
        rgba(230,230,230,0.75) 10%, 
        rgba(255, 220, 090, 0.7) 25%, 
        rgba(025,025,030, 0.8) 85%
    );
    background-blend-mode: overlay;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.projects-title .title {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-end;
    padding: 8vw;
    font-size: 3rem;
    color: rgba(025,025,030, 1.0);
}

.projects-filter {
    grid-column: 3/-2;
    grid-row: 3;

    margin: 1%;

    border: 2px dotted red;
}


.projects-container {
    grid-column: 3/-2;
    grid-row: 4/-1;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.project-accordion {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(025,025,030, 1.0);
    transition: background-color 1.5s ease;
}

.project-accordion .active {
        background-color: rgba(008,008,025, 0.8);
}
    
    .project-accordion .header {
        height: 10vh;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        border-right: 20px double rgba(255, 220, 090, 0.7);
        border-bottom: 20px solid rgba(230,230,230,0.75);
    }

        .project-accordion .header .title {
            font-size: 1.50rem;
        }

        .project-accordion .header .subtitle {
            font-size: 0.75rem;
        }

    .project-accordion .body {
        display: grid;
        gap: 2vw;
        padding-top: 2vh;
        grid-template-areas: 
        's s s s s s'
        'c c . t t t'
        'c c . t t t'
        'v v v v v v'
        '. l l l l .'
        'd d d d d d'
        'd d d d d d'
        'f f f f f f'
        ;

        overflow: hidden;
        transition: max-height 0.6s ease;
    }
        
    .project-accordion .body .creators {
        grid-area: c;
        font-size: 0.75rem;
        display: flex;
        flex-flow: column nowrap;
    }

    .project-accordion .body .tags {
        grid-area: t;

        justify-self: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    .project-accordion .body .description {
        grid-area: d;

        font-size: 0.75rem;
    }

    .project-accordion .body .video {
        grid-area: v;
        width: 100%;

        align-self: center;
        justify-self: center;
    }

    .project-accordion .body .deployed-link {
        grid-area: l;

        font-size: 0.75rem;
    }

    .project-accordion .end {
        grid-area: f;
        height: 8vh;

        background-image: repeating-linear-gradient(to left,
            rgba(025,025,030, 0.0) 0% 5%,
            rgba(230,230,230,0.25)5% 10%,
            rgba(025,025,030, 0.0)10% 15%
        );
    }

    .project-accordion .start {
        grid-area: s;
        height: 8vh;
        background-image: repeating-linear-gradient(to right,
            rgba(025,025,030, 0.0) 0% 5%,
            rgba(230,230,230,0.25)5% 10%,
            rgba(025,025,030, 0.0)10% 15%
        );
    }