.projects-page {
    grid-area: projects;

    min-height: 100vh;
    width: 100vw;

    background-color: rgba(025,025,030, 1.0);
    color: rgba(255, 220, 090, 0.7);

    display: grid;
    grid: repeat(12, 1fr) / repeat(12, 1fr);
    grid-template-areas: 
    '. t t t t t t t t t t t'
    '. t t t t t t t t t t t'
    '. . g g g g g g g g g .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . d d d d d d d d d .'
    '. . . . . . . . . . . .'
    ;
}

.projects-title {
    grid-area: t;
    height: 16vh;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 1%;
    background-image: radial-gradient(farthest-corner at 30%,
        rgba(230,230,230,0.75) 10%, 
        rgba(255, 220, 090, 0.7) 25%, 
        rgba(025,025,030, 0.8) 85%
    );
    background-blend-mode: overlay;

    /* border-top-right-radius: 70%; */
    /* border-bottom-right-radius: 30%; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.projects-title .title {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-end;
    padding: 8vw;
    font-size: 3rem;
    color: rgba(025,025,030, 1.0);
}

.projects-filter {
    grid-area: g;

    margin: 1%;

    border: 2px dotted red;
}


.projects-container {
    grid-area: d;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    
    margin: 1%;
}

.project-accordion {
        width: 100%;
        padding: 2vw;

        background-color: rgba(025,025,030, 1.0);
        transition: background-color 0.4s ease;
}

.project-accordion:hover,
.active {
    background-color: rgba(008,008,025, 1.0);
}
    
    .project-accordion .header {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }

        .project-accordion .header .title {
            font-size: 1.50rem;
        }

        .project-accordion .header .subtitle {
            font-size: 0.75rem;
        }

    .project-accordion .body {
        display: grid;
        gap: 2vw;
        grid-template-areas: 
        '. . . . . .'
        'c c . t t t'
        'c c . t t t'
        '. v v v v .'
        '. l l l l .'
        'd d d d d d'
        'd d d d d d'
        ;

        background-color: rgba(008,008,025, 1.0);
        overflow: hidden;
        transition: max-height 0.6s ease;
    }

    .project-accordion .body .creators {
        grid-area: c;
        font-size: 0.75rem;
        display: flex;
        flex-flow: column nowrap;
    }

    .project-accordion .body .tags {
        grid-area: t;

        justify-self: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    .project-accordion .body .description {
        grid-area: d;

        font-size: 0.75rem;
    }

    .project-accordion .body .video {
        grid-area: v;

        align-self: center;
        justify-self: center;
    }

    .project-accordion .body .deployed-link {
        grid-area: l;

        font-size: 0.75rem;
    }