.projects-page {
    grid-area: projects;

    min-height: 100vh;
    width: 100vw;

    background-color: rgba(025,025,035, 1.0);
    color: rgba(255, 220, 090, 0.7);

    display: grid;
    grid: repeat(12, 1fr) / repeat(12, 1fr);
    grid-template-areas: 
    '. . . t t t t t t t t t' 
    '. . . g g g g g g g g g'
    '. . . . . . . . . . . .'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . a a a d d d d d d'
    '. . . . . . . . . . . .'
    ;
}

.projects-title {
    grid-area: t;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 1%;
    background-image: radial-gradient(farthest-corner at left,
     rgba(230,230,230,0.75) 5%, 
     rgba(255, 220, 090, 0.7) 25%, 
     rgba(025,025,035, 0.9) 85%
    );
    background-blend-mode: overlay;

    /* border-top-right-radius: 70%; */
    /* border-bottom-right-radius: 30%; */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.projects-title .title {
    padding: 8%;
    font-size: 3rem;
    color: rgba(025,025,035, 1.0);
}

.projects-filter {
    grid-area: g;

    margin: 1%;

    border: 2px dotted red;
}

.projects-accordion {
    grid-area: a;

    margin: 1%;

    border: 2px dotted red;
}

.projects-display {
    grid-area: d;

    display: grid;

    margin: 1%;

    border: 2px dotted red;
}