/* Site constants:
    Main colors: 
        background black: rgba(008,008,025, 0.8)
        text/page background: rgba(025,025,035, 0.9);
        yellow: rgba(255, 220, 090, 0.8)
*/

.App {
    min-width: 100vw;
    min-height: 100vh;

    background-color: rgba(008,008,010, 0.9);
}

.content {
    display: grid;
    grid-template-rows: repeat(4, 100vh);
    grid-template-columns: 100vw;
    gap: 0;
    grid-template-areas:
    'landing'
    'about'
    'projects'
    'blogs'
    ;
}
